*.txt
*.nc
environment.sh
base_dir.sh
*.png
*.npz
logs/
*.csv
*.json
*.h5
*.pth
*.pt
*.pkl
*.log
*.pyc
__pycache__/
Outputs/
Prelim_Stats/config.py
Python_Pipeline_Scripts/config.py
data_1971_2023/
Combined_Dataset/
Stats_EVT/Grossraeume_neu_without_aglo/